
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-510031225495225517.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-510031225495225517.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-510031225495225517.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-510031225495225517.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-510031225495225517.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-510031225495225517.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-510031225495225517.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-510031225495225517.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-510031225495225517.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-510031225495225517.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-510031225495225517.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-510031225495225517.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-510031225495225517.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-510031225495225517.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-510031225495225517.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-510031225495225517.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-510031225495225517.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-510031225495225517.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-510031225495225517.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-510031225495225517.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-510031225495225517.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-510031225495225517.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-510031225495225517.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-510031225495225517.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-510031225495225517.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-510031225495225517.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-510031225495225517.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-510031225495225517.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-510031225495225517.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-510031225495225517.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-510031225495225517.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-510031225495225517.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-510031225495225517.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-510031225495225517.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-510031225495225517.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-510031225495225517.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-510031225495225517.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-510031225495225517.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-510031225495225517.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-510031225495225517.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-510031225495225517.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-510031225495225517.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-510031225495225517.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-510031225495225517.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-510031225495225517.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-510031225495225517.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-510031225495225517.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-510031225495225517.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-510031225495225517.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-510031225495225517.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-510031225495225517.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-510031225495225517.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-510031225495225517.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-510031225495225517.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-510031225495225517.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-510031225495225517.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-510031225495225517.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-510031225495225517.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-510031225495225517.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-510031225495225517.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-510031225495225517.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-510031225495225517.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-510031225495225517.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-510031225495225517.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-510031225495225517 .gp-relative{position:relative}.gps-510031225495225517 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510031225495225517 .gp-mb-0{margin-bottom:0}.gps-510031225495225517 .\!gp-inline{display:inline!important}.gps-510031225495225517 .gp-flex{display:flex}.gps-510031225495225517 .gp-grid{display:grid}.gps-510031225495225517 .\!gp-hidden{display:none!important}.gps-510031225495225517 .gp-hidden{display:none}.gps-510031225495225517 .gp-h-full{height:100%}.gps-510031225495225517 .gp-w-full{width:100%}.gps-510031225495225517 .gp-max-w-full{max-width:100%}.gps-510031225495225517 .gp-flex-col{flex-direction:column}.gps-510031225495225517 .gp-gap-y-0{row-gap:0}.gps-510031225495225517 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510031225495225517 .gp-duration-200{transition-duration:.2s}.gps-510031225495225517 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-510031225495225517 .tablet\:\!gp-hidden{display:none!important}.gps-510031225495225517 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-510031225495225517 .mobile\:\!gp-hidden{display:none!important}.gps-510031225495225517 .mobile\:gp-hidden{display:none}}.gps-510031225495225517 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-510031225495225517 .\[\&_p\]\:gp-inline p{display:inline}.gps-510031225495225517 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-510031225495225517 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Section","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage id="gNlPBhvVB6" data-id="gNlPBhvVB6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pl-mobile:20px;--pb-mobile:var(--g-s-2xl);--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNlPBhvVB6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvMtF5xjiZ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="goOXbqc3rD" data-id="goOXbqc3rD"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:80px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goOXbqc3rD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g27riTmgZI gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFRVOVY28b">
    <div
      enableLazyloadImage parentTag="Col"
        class="gFRVOVY28b "
        style="--tt:default;--ta:left;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--c:#242424;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--tt:capitalize;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >tipos de pedidos</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0W9GpFMRP">
    <div
      enableLazyloadImage parentTag="Col"
        class="g0W9GpFMRP "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:var(--g-c-text-2, text-2);--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >Pedidos estándar</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTlH9n7aLG">
    <div
      enableLazyloadImage parentTag="Col"
        class="gTlH9n7aLG "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        ><p>Los clientes pueden comprar productos directamente cuando están disponibles en el inventario.</p></div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdFZdO6en-">
    <div
      enableLazyloadImage parentTag="Col"
        class="gdFZdO6en- "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:var(--g-c-text-2, text-2);--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >Pedidos de Precompra</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHdcgVsdUm">
    <div
      enableLazyloadImage parentTag="Col"
        class="gHdcgVsdUm "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        ><p>Permite a los clientes reservar artículos que no están en stock.<br><strong>Proceso</strong>: Se realiza un pedido específico a nuestro proveedor para estos artículos.<br><strong>Tiempo de Procesamiento:</strong><br>Pedidos de 200€ o más: 7 a 30 días hábiles.<br>Pedidos de 0-199,99€: 30 a 60 días hábiles.</p><p><br><strong>Tiempo de Envío: </strong>Una vez que el producto llega a nuestro inventario, el tiempo de envío al cliente es de 1 a 3 días hábiles.<br>Envíos: Si un pedido incluye artículos con y sin stock, se realizarán dos envíos separados</p></div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gjbje28he_">
    <div
      enableLazyloadImage parentTag="Col"
        class="gjbje28he_ "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:var(--g-c-text-2, text-2);--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >Pedidos Exclusivos</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQrfjhnPyn">
    <div
      enableLazyloadImage parentTag="Col"
        class="gQrfjhnPyn "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pb:28px;--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        ><p><strong>Para artículos no listados en nuestra web</strong>, ofrecemos Pedidos Exclusivos. Estos requieren un importe mínimo de compra y se gestionan directamente con nuestros proveedores.&nbsp;</p><p>&nbsp;</p><p><strong>Cómo Solicitar un Pedido Exclusivo:</strong></p><p>&nbsp;</p><p>Contacto: Inicia el proceso a través del chat de nuestra web o enviando un correo a puravidaestetica@outlook.es.<br>Información Necesaria: Proporciona tu nombre completo, número de teléfono, correo electrónico y detalles del artículo deseado.<br>Confirmación: Tras recibir tu solicitud, te contactaremos para confirmar y proceder con el pedido.<br>&nbsp;</p></div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmfIcMZ-ku">
    <div
      enableLazyloadImage parentTag="Col"
        class="gmfIcMZ-ku "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:var(--g-c-text-2, text-2);--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >Pedidos al Por Mayor y personalizados</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gd5OR3SSrk">
    <div
      enableLazyloadImage parentTag="Col"
        class="gd5OR3SSrk "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        ><p>Maximiza tu marca con nuestros servicios de venta al por mayor y personalización. Obtén descuentos por volumen y personaliza tus productos con tu logo y colores corporativos, todo con un proceso de pedido eficiente y un compromiso con la calidad.</p><p><strong>Beneficios Clave:</strong></p><p>Descuentos por volumen para pedidos grandes.<br>Personalización para reflejar la identidad de tu marca.<br>Proceso simplificado para pedidos al por mayor y personalizados.<br><strong>Realiza tu Pedido:</strong></p><p>Selecciona productos y especifica la personalización.<br>Envía tu diseño y detalles de pedido.<br>Recibe la confirmación y espera la producción.<br><strong>Compromiso</strong>:</p><p>Eficiencia en el manejo y envío de tus pedidos.<br>Calidad superior en productos y personalización.<br>Contáctanos para más información y comienza a diferenciar tu negocio hoy mismo.</p></div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gp4Bzf1w7k gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="grW06uzjDV"
    role="presentation"
    class="gp-group/image grW06uzjDV"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(undefined);--ta:left;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--jc:left;--jc-mobile:center"
      >
        
  <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/966f6f48-d24e-47ce-b5b0-7176002b88b9/-/format/auto/" data-srcset="https://ucarecdn.com/966f6f48-d24e-47ce-b5b0-7176002b88b9/-/format/auto/ 768w,https://ucarecdn.com/966f6f48-d24e-47ce-b5b0-7176002b88b9/-/format/auto/ 1024w,https://ucarecdn.com/966f6f48-d24e-47ce-b5b0-7176002b88b9/-/format/auto/ 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU1IiBoZWlnaHQ9IjEwNzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTg1NS0xMDcxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4NTUiIGhlaWdodD0iMTA3MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU1IiBoZWlnaHQ9IjEwNzEiIGZpbGw9InVybCgjZy04NTUtMTA3MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTg1NSIgdG89Ijg1NSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" width="855" height="1071" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:800/2000;--aspect-tablet:855/1071;--aspect-mobile:500/600;--objf:cover;--objf-mobile:cover;--w:800px;--w-tablet:100%;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    "presets": [{ "name": "tipos de pedido" }],
    "name": "tipos de pedido",
    "tag": "section",
    "class": "gps-510031225495225517 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=510031225495225517)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"es":{}}
  }
{% endschema %}
