
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541814783238734713.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-541814783238734713.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541814783238734713.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541814783238734713.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541814783238734713.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541814783238734713.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541814783238734713.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541814783238734713.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541814783238734713.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541814783238734713.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-541814783238734713.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541814783238734713.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-541814783238734713.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-541814783238734713.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541814783238734713.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-541814783238734713.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-541814783238734713.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-541814783238734713.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541814783238734713.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541814783238734713.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541814783238734713.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541814783238734713.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541814783238734713.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541814783238734713.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541814783238734713.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541814783238734713.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541814783238734713.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541814783238734713.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541814783238734713.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541814783238734713.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541814783238734713.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541814783238734713.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-541814783238734713.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541814783238734713.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541814783238734713.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-541814783238734713.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-541814783238734713.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-541814783238734713.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541814783238734713.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541814783238734713.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-541814783238734713 .-gp-translate-x-1\/2,.gps-541814783238734713 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-541814783238734713 .gp-absolute{position:absolute}.gps-541814783238734713 .gp-relative{position:relative}.gps-541814783238734713 .gp-left-0{left:0}.gps-541814783238734713 .gp-left-1\/2{left:50%}.gps-541814783238734713 .gp-top-0{top:0}.gps-541814783238734713 .gp-top-1\/2{top:50%}.gps-541814783238734713 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541814783238734713 .gp-mb-0{margin-bottom:0}.gps-541814783238734713 .gp-flex{display:flex}.gps-541814783238734713 .gp-grid{display:grid}.gps-541814783238734713 .\!gp-hidden{display:none!important}.gps-541814783238734713 .gp-hidden{display:none}.gps-541814783238734713 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-541814783238734713 .gp-h-full{height:100%}.gps-541814783238734713 .gp-w-14{width:56px}.gps-541814783238734713 .gp-w-5{width:20px}.gps-541814783238734713 .gp-w-full{width:100%}.gps-541814783238734713 .\!gp-max-w-none{max-width:none!important}.gps-541814783238734713 .gp-max-w-full{max-width:100%}.gps-541814783238734713 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-541814783238734713 .-gp-translate-x-1\/2,.gps-541814783238734713 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-541814783238734713 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-541814783238734713 .gp-flex-col{flex-direction:column}.gps-541814783238734713 .gp-items-center{align-items:center}.gps-541814783238734713 .gp-justify-center{justify-content:center}.gps-541814783238734713 .gp-gap-y-0{row-gap:0}.gps-541814783238734713 .gp-overflow-hidden{overflow:hidden}.gps-541814783238734713 .gp-rounded{border-radius:4px}.gps-541814783238734713 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-541814783238734713 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-541814783238734713 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-541814783238734713 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-541814783238734713 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541814783238734713 .gp-duration-200{transition-duration:.2s}.gps-541814783238734713 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-541814783238734713 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-541814783238734713 .tablet\:\!gp-hidden{display:none!important}.gps-541814783238734713 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-541814783238734713 .mobile\:\!gp-hidden{display:none!important}.gps-541814783238734713 .mobile\:gp-hidden{display:none}}.gps-541814783238734713 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-541814783238734713 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-541814783238734713 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-541814783238734713 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage id="gXntqCpaP7" data-id="gXntqCpaP7"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXntqCpaP7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8-ETEDgW3 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gbZwTl_qtx" data-id="gbZwTl_qtx"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbZwTl_qtx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBJSSb00tx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="g8tFe0B8M_"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative g8tFe0B8M_"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--aspect:auto;--aspect-mobile:auto"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-g8tFe0B8M_"
      class=" gp-w-full lazy gp-object-cover"
      style="--aspect:auto;--aspect-mobile:auto"
      controls
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/2434e32543434191baef47c7b5dc859f.mp4"
      src=""
      poster=""
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/2434e32543434191baef47c7b5dc859f.mp4" src="" type="video/mp4"></source>
  </video>
    <div
          style="--aspect:auto;--aspect-mobile:auto"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "botoncito" }],
    "name": "botoncito",
    "tag": "section",
    "class": "gps-541814783238734713 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=541814783238734713)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"es":{}}
  }
{% endschema %}
