
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557948518749176965.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557948518749176965.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557948518749176965.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557948518749176965.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557948518749176965.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557948518749176965.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557948518749176965.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557948518749176965.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557948518749176965.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557948518749176965.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557948518749176965.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557948518749176965.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557948518749176965.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557948518749176965.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557948518749176965.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557948518749176965.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557948518749176965.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557948518749176965.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-557948518749176965.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557948518749176965.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557948518749176965.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557948518749176965.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557948518749176965.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557948518749176965.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557948518749176965.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557948518749176965.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557948518749176965.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557948518749176965.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557948518749176965.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557948518749176965.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557948518749176965.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557948518749176965.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557948518749176965.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557948518749176965.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-557948518749176965.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-557948518749176965.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557948518749176965.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-557948518749176965.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-557948518749176965.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-557948518749176965.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-557948518749176965.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-557948518749176965.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-557948518749176965.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-557948518749176965.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557948518749176965.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-557948518749176965.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557948518749176965.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-557948518749176965.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557948518749176965.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557948518749176965.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557948518749176965.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-557948518749176965.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-557948518749176965.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-557948518749176965.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-557948518749176965.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-557948518749176965.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-557948518749176965.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-557948518749176965.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557948518749176965.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557948518749176965.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557948518749176965.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-557948518749176965.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557948518749176965.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557948518749176965.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557948518749176965.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-557948518749176965 .gp-relative{position:relative}.gps-557948518749176965 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557948518749176965 .gp-mb-0{margin-bottom:0}.gps-557948518749176965 .gp-flex{display:flex}.gps-557948518749176965 .gp-grid{display:grid}.gps-557948518749176965 .\!gp-hidden{display:none!important}.gps-557948518749176965 .gp-hidden{display:none}.gps-557948518749176965 .gp-max-w-full{max-width:100%}.gps-557948518749176965 .gp-flex-col{flex-direction:column}.gps-557948518749176965 .gp-gap-y-0{row-gap:0}.gps-557948518749176965 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557948518749176965 .gp-duration-200{transition-duration:.2s}.gps-557948518749176965 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-557948518749176965 .tablet\:\!gp-hidden{display:none!important}.gps-557948518749176965 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557948518749176965 .mobile\:\!gp-hidden{display:none!important}.gps-557948518749176965 .mobile\:gp-hidden{display:none}}.gps-557948518749176965 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557948518749176965 .\[\&_p\]\:gp-inline p{display:inline}.gps-557948518749176965 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557948518749176965 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage id="gHBunTA97Z" data-id="gHBunTA97Z"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHBunTA97Z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gsz2VrnYBF gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="g5Yes_VMXl" data-id="g5Yes_VMXl"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pl-mobile:0px;--pb-mobile:0px;--cg:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgba(245, 247, 248, 0);--bgc-tablet:#F5F7F8;--bgc-mobile:#00000000;--bgi:url();--bgi-tablet:url({{ "gempages_508783848931197844-e9ce3a6d-8e1b-4935-8766-65fed096516e.png" | file_url }});--bgi-mobile:url({{ "gempages_508783848931197844-e9ce3a6d-8e1b-4935-8766-65fed096516e.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:fixed;--bga-tablet:fixed;--bga-mobile:fixed"
        class="g5Yes_VMXl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:end"
      class="guWd3SAmqP gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSJ4rAfgsD">
    <div
      enableLazyloadImage parentTag="Col"
        class="gSJ4rAfgsD "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px;--mb-mobile:0px;--pb-mobile:0px;--mb-tablet:var(--g-s-l);--pb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-heading, heading);--ls:-2px;--size:150px;--size-tablet:58px;--size-mobile:61px;--lh:200%;--lh-tablet:120%;--lh-mobile:200%;--weight:bold;--c:#000000;--tt:capitalize;word-break:break-word;--bgc:rgba(0, 0, 0, 0);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-557948518749176965.ggSJ4rAfgsD_text_html" | t | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "Adhesivo" }],
    "name": "Adhesivo",
    "tag": "section",
    "class": "gps-557948518749176965 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=557948518749176965)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"es":{"ggSJ4rAfgsD_text_html":"adhesivos"}}
  }
{% endschema %}
