

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-543283356591195382.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-543283356591195382.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-543283356591195382.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-543283356591195382.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-543283356591195382.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-543283356591195382.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-543283356591195382.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-543283356591195382.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-543283356591195382.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-543283356591195382.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-543283356591195382.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-543283356591195382.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-543283356591195382.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-543283356591195382.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-543283356591195382.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-543283356591195382.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-543283356591195382.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-543283356591195382.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-543283356591195382.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-543283356591195382.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-543283356591195382.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-543283356591195382.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-543283356591195382.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-543283356591195382.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-543283356591195382.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-543283356591195382.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-543283356591195382.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-543283356591195382.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-543283356591195382.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-543283356591195382.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-543283356591195382.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-543283356591195382.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-543283356591195382.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-543283356591195382.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-543283356591195382.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-543283356591195382.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-543283356591195382.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-543283356591195382.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-543283356591195382.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-543283356591195382.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-543283356591195382 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-543283356591195382 .gp-relative{position:relative}.gps-543283356591195382 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-543283356591195382 .gp-mb-0{margin-bottom:0}.gps-543283356591195382 .gp-flex{display:flex}.gps-543283356591195382 .gp-grid{display:grid}.gps-543283356591195382 .\!gp-hidden{display:none!important}.gps-543283356591195382 .gp-hidden{display:none}.gps-543283356591195382 .gp-max-w-full{max-width:100%}.gps-543283356591195382 .gp-flex-col{flex-direction:column}.gps-543283356591195382 .gp-gap-y-0{row-gap:0}.gps-543283356591195382 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-543283356591195382 .gp-duration-200{transition-duration:.2s}.gps-543283356591195382 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-543283356591195382 .tablet\:\!gp-hidden{display:none!important}.gps-543283356591195382 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-543283356591195382 .mobile\:\!gp-hidden{display:none!important}.gps-543283356591195382 .mobile\:gp-hidden{display:none}}.gps-543283356591195382 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-543283356591195382 .\[\&_p\]\:gp-inline p{display:inline}.gps-543283356591195382 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-543283356591195382 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gGY6U4l0j8" data-id="gGY6U4l0j8"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGY6U4l0j8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gGH332sAc4 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g3LVBQv4xk" data-id="g3LVBQv4xk"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3LVBQv4xk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtzyRzBFz7 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="glr3GAkX1L" data-id="glr3GAkX1L"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glr3GAkX1L gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gx5wACKaYM gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g4H_Xadlrz" data-id="g4H_Xadlrz"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4H_Xadlrz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="geSL859xDY gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gzSQazWI02">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gzSQazWI02 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzSQazWI02_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-543283356591195382 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=543283308490916868&sectionId=543283356591195382)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggzSQazWI02_text","label":"ggzSQazWI02_text","default":"<p>Adhesivos:<br><br>Pure Black:&nbsp;</p><p>ES: Ingredientes</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
