

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527128548578690001.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527128548578690001.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527128548578690001.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527128548578690001.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527128548578690001.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527128548578690001.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527128548578690001.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527128548578690001.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527128548578690001.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527128548578690001.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527128548578690001.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-527128548578690001.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527128548578690001.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527128548578690001.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527128548578690001.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527128548578690001.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527128548578690001.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527128548578690001.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527128548578690001.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527128548578690001.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527128548578690001.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527128548578690001.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527128548578690001.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527128548578690001.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527128548578690001.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527128548578690001.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527128548578690001.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527128548578690001.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527128548578690001.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527128548578690001.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527128548578690001.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-527128548578690001.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527128548578690001.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527128548578690001.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527128548578690001.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527128548578690001.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-527128548578690001.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527128548578690001.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527128548578690001.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527128548578690001.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527128548578690001.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-527128548578690001 .gp-relative{position:relative}.gps-527128548578690001 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527128548578690001 .gp-mb-0{margin-bottom:0}.gps-527128548578690001 .gp-flex{display:flex}.gps-527128548578690001 .gp-grid{display:grid}.gps-527128548578690001 .gp-contents{display:contents}.gps-527128548578690001 .\!gp-hidden{display:none!important}.gps-527128548578690001 .gp-hidden{display:none}.gps-527128548578690001 .gp-h-full{height:100%}.gps-527128548578690001 .gp-w-full{width:100%}.gps-527128548578690001 .gp-max-w-full{max-width:100%}.gps-527128548578690001 .gp-flex-col{flex-direction:column}.gps-527128548578690001 .gp-gap-y-0{row-gap:0}.gps-527128548578690001 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527128548578690001 .gp-duration-200{transition-duration:.2s}.gps-527128548578690001 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-527128548578690001 .tablet\:\!gp-hidden{display:none!important}.gps-527128548578690001 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-527128548578690001 .mobile\:\!gp-hidden{display:none!important}.gps-527128548578690001 .mobile\:gp-hidden{display:none}}.gps-527128548578690001 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="garhVcCBum" data-id="garhVcCBum"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="garhVcCBum gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNS19C2d_f gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gPHxAH5KxG"
    role="presentation"
    class="gp-group/image gPHxAH5KxG"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-63bd09cb-76fc-42d9-ab42-734b2b12360b_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTUwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iNTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiBmaWxsPSJ1cmwoI2ctNTAwMC01MDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-63bd09cb-76fc-42d9-ab42-734b2b12360b_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTUwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iNTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiBmaWxsPSJ1cmwoI2ctNTAwMC01MDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctNTAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_508783848931197844-63bd09cb-76fc-42d9-ab42-734b2b12360b.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-527128548578690001 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=509724990082384771&sectionId=527128548578690001)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
