

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527554700636062613.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527554700636062613.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-527554700636062613.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527554700636062613.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527554700636062613.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527554700636062613.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527554700636062613.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527554700636062613.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527554700636062613.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527554700636062613.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-527554700636062613.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-527554700636062613.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527554700636062613.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-527554700636062613.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-527554700636062613.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-527554700636062613.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-527554700636062613.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-527554700636062613.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-527554700636062613.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-527554700636062613.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527554700636062613.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527554700636062613.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527554700636062613.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-527554700636062613.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527554700636062613.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527554700636062613.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527554700636062613.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527554700636062613.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527554700636062613.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527554700636062613.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527554700636062613.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527554700636062613.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527554700636062613.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527554700636062613.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527554700636062613.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527554700636062613.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527554700636062613.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527554700636062613.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527554700636062613.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527554700636062613.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527554700636062613.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-527554700636062613.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-527554700636062613.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527554700636062613.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527554700636062613.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527554700636062613.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-527554700636062613.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-527554700636062613.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527554700636062613.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527554700636062613.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527554700636062613.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-527554700636062613.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-527554700636062613 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-527554700636062613 .gp-relative{position:relative}.gps-527554700636062613 .gp-z-1{z-index:1}.gps-527554700636062613 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527554700636062613 .gp-mb-0{margin-bottom:0}.gps-527554700636062613 .gp-flex{display:flex}.gps-527554700636062613 .gp-inline-flex{display:inline-flex}.gps-527554700636062613 .gp-grid{display:grid}.gps-527554700636062613 .\!gp-hidden{display:none!important}.gps-527554700636062613 .gp-hidden{display:none}.gps-527554700636062613 .gp-h-full{height:100%}.gps-527554700636062613 .gp-max-w-full{max-width:100%}.gps-527554700636062613 .gp-flex-col{flex-direction:column}.gps-527554700636062613 .gp-items-center{align-items:center}.gps-527554700636062613 .gp-justify-center{justify-content:center}.gps-527554700636062613 .gp-gap-y-0{row-gap:0}.gps-527554700636062613 .gp-overflow-hidden{overflow:hidden}.gps-527554700636062613 .gp-break-words{overflow-wrap:break-word}.gps-527554700636062613 .gp-rounded-none{border-radius:0}.gps-527554700636062613 .gp-no-underline{text-decoration-line:none}.gps-527554700636062613 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527554700636062613 .gp-duration-200{transition-duration:.2s}.gps-527554700636062613 .gp-duration-300{transition-duration:.3s}.gps-527554700636062613 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527554700636062613 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-527554700636062613 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-527554700636062613 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-527554700636062613 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-527554700636062613 .tablet\:\!gp-hidden{display:none!important}.gps-527554700636062613 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-527554700636062613 .mobile\:\!gp-hidden{display:none!important}.gps-527554700636062613 .mobile\:gp-hidden{display:none}}.gps-527554700636062613 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527554700636062613 .\[\&_p\]\:gp-inline p{display:inline}.gps-527554700636062613 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-527554700636062613 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-527554700636062613 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gK0NMvc9qH"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gK0NMvc9qH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gj2m-rRcFr gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="glb3ZkuR-G "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglb3ZkuR-G_text }}</div>
      </div>
    </div>
  <gp-button >
  <div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .gzNNGGAfEB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gzNNGGAfEB:hover::before {
      
      
    }

    .gzNNGGAfEB:hover .gp-button-icon {
      color: #6EFFDC;
    }

     .gzNNGGAfEB .gp-button-icon {
      color: #000000;
    }

    .gzNNGGAfEB:hover .gp-button-price {
      color: #6EFFDC;
    }

    .gzNNGGAfEB .gp-button-price {
      color: #000000;
    }

    .gzNNGGAfEB .gp-product-dot-price {
       color: #000000;
    }

    .gzNNGGAfEB:hover .gp-product-dot-price {
      color: #6EFFDC;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/premade-fan" target="_self" data-id="gzNNGGAfEB" aria-label="<p>PREMADE FAN</p>"
      
      data-state="idle"
      class="gzNNGGAfEB gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-paragraph-1"
      style="--bg:#6EFFDC;--hvr-bg:#000000;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:#000000;--hvr-c:#6EFFDC"
    >
      
    <div 
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-paragraph-1
        "
        
      >
        {{ section.settings.ggzNNGGAfEB_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-527554700636062613 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/bold/app/shopify/edit?pageType=GP_ARTICLE&editorId=527554305683620757&sectionId=527554700636062613)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gglb3ZkuR-G_text","label":"gglb3ZkuR-G_text","default":"<p>Nosotros hemos dedicado mucho tiempo y esfuerzo en elegir los mejores grosores, curvatura y volumen de nuestros PREMADE FAN. Échale un vistazo a nuestra colección.</p>"},{"type":"html","id":"ggzNNGGAfEB_label","label":"ggzNNGGAfEB_label","default":"<p>PREMADE FAN</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
